<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="" />
    <title>Suivserie</title>
    <link href="styles/style4.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>suivserie</h1>
    <article class="Séries">
        <a id="connexion" href="Connexion.html">Deconnexion</a>
        <a id="case" href="Client.html">Page suivante</a>
        <h2>Séries à la une</h2>
        <div class="wrapper">

            <div class="box" id="boite">
                <div class="affiche" id="affiche1">
                    <a href="Client.html"></a>
                </div>
                <div class="Titre" id="Titre">Arcane</div>
            </div>

            <div class="box" id="boite">
                <div class="affiche" id="affiche1">
                    <a href="Client.html"></a>
                </div>
                <div class="Titre" id="Titre">Arcane</div>
            </div>
            <div class="box" id="boite">
                <div class="affiche" id="affiche1">
                    <a href="Client.html"></a>
                </div>
                <div class="Titre" id="Titre">Arcane</div>
            </div>
            <div class="box" id="boite">
                <div class="affiche" id="affiche1">
                    <a href="Client.html"></a>
                </div>
                <div class="Titre" id="Titre">Arcane</div>
            </div>
            <div class="box" id="boite">
                <div class="affiche" id="affiche1">
                    <a href="Client.html"></a>
                </div>
                <div class="Titre" id="Titre">Arcane</div>
            </div>
            <div class="box" id="boite">
                <div class="affiche" id="affiche1">
                    <a href="Client.html"></a>
                </div>
                <div class="Titre" id="Titre">Arcane</div>
            </div>
        </div>
        <div class="wrapper2">

            <div class="rectangle2" id="texteaffiche"></div>


        </div>






</body>

</html>