<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="" />
    <title>Serie suivie</title>
    <link href="styles/style3.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>suivserie</h1>
    <article class="Séries">
        <a id="Deconnexion" href="Connexion.html">Deconnexion</a>
        <h2>Séries à la une</h2>
        <div class="wrapper">

            <div class="box" id="boite">
                <div class="affiche" id="affiche1"></div>
                <div class="Titre" id="Titre">Arcane</div>
                <div class="cercle" id="Validation"></div>
                <div class="boiteep" id="nbep">Nombre d'épisode :</div>
                <div class="boitedescr" id="descr"></div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 1</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 2</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 3</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 4</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 5</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 6</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 7</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 8</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 9</div>
            </div>
        </div>
        <div class="wrapper2">
            <div class="box2" id="boite2">
                <div class="image" id="image"></div>
                <div class="titreep" id="titreepi"></div>
                <div class="ep" id="epnom">Saison 1 épisode 10</div>
            </div>
        </div>






</body>

</html>